.link {
  display: inline-block;
  text-decoration: none;

  font-weight: 700;
  color: #000000;
}
.link:hover {
  color: #e84a5f;
}
.link.active {
  color: #e84a5f;
}
nav {
  display: flex;
  gap: 20px;
}
