ul {
  list-style: none;
  display: flex;

  align-items: center;
  /* justify-content: space-between; */

  flex-wrap: wrap;
  gap: 30px 50px;
  overflow-y: scroll;
  max-height: 300px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;

  width: 400px;
}

.wrapper {
  display: flex;
  padding-left: 10px;

  align-items: center;
}
.name {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
}
.number {
  margin: 0;
}
