.title {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  padding-top: 100px;
}
.text {
  font-weight: 500;
  font-size: 20px;
}
.link {
  color: red;
  text-decoration: none;
}
